<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.MammothTag.123.MammothTag</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>MaMMoth</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fb</string>
		<string>linkedin</string>
		<string>skype</string>
		<string>paypal</string>
		<string>googlegmail</string>
		<string>instagram</string>
		<string>snapchat</string>
		<string>youtube</string>
		<string>facetime</string>
		<string>tg</string>
		<string>twitch</string>
		<string>paypal</string>
		<string>skype</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Lato-Black.ttf</string>
		<string>Lato-Bold.ttf</string>
		<string>Lato-Medium.ttf</string>
		<string>Lato-Regular.ttf</string>
		<string>Lato-Semibold.ttf</string>
	</array>
</dict>
</plist>
