<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb406134068205437</string>
				<string>twitterkit-3knQjDvZNX7FMnc2LSrHKL5gP</string>
				<string>com.googleusercontent.apps.153436727826-o80j61nttd606jrnqt1umhn8thoj6gi4</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>406134068205437</string>
	<key>FacebookDisplayName</key>
	<string>MAMMOTH TAG</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>twitter</string>
		<string>twitterauth</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Lato-Black.ttf</string>
		<string>Lato-Bold.ttf</string>
		<string>Lato-Medium.ttf</string>
		<string>Lato-Regular.ttf</string>
		<string>Lato-Semibold.ttf</string>
	</array>
	<key>branch_app_domain</key>
	<string>mammothtag.app.link</string>
	<key>branch_key</key>
	<string>key_live_dcZXxagT3CmVVAMBYwKAdgejzBgZOmjS</string>
</dict>
</plist>
